<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jianchi.fsp.buddhismnetworkradio">

    <!-- - 横屏竖屏转化时用到 -->
    <application
        android:name=".BApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activity.Mp4PlayerActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/title_activity_mp4_player"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.WebViewActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.StartActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContactActivity"
            android:label="@string/lxwm"
            android:parentActivityName=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.NewsActivity"
            android:label="@string/zxxx"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.ScheduleActivity"
            android:label="@string/jmlb"
            android:parentActivityName=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.Mp3PlayerActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_mp3_player"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.Mp3ManagerActivity"
            android:label="@string/title_activity_mp3_manager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.DownLoadActivity"
            android:label="@string/title_activity_down_load"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity.SelectProgramActivity"
            android:label="@string/title_activity_select_program"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <meta-data
            android:name="PUSH_APPID"
            android:value="mCUo9jLlyf9lshZQUI7GZ9" />

        <service
            android:name=".GeTuiIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".GeTuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service
            android:name=".mp3service.BMp3Service"
            android:enabled="true"
            android:exported="false" />
    </application> <!-- - 隐藏状态栏 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" /> <!-- 将报务设置为前台服务 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>